.account-item {
    -fx-background-color: WHITE;
}

.clickable:hover {
    -fx-cursor: hand;
}

.account-action-button {
    -fx-opacity: 0.75;
}

.account-action-button:hover {
    -fx-opacity: 1.0;
}

.add-account-buttons {
    -fx-background-color: #40bded;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: white;
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 18px;
}

.name-input-fields {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-prompt-text-fill: gray;
}

.name-input-fields-selected {
    -fx-background-color: #ececec;
    -fx-background-insets: 0px;
    -fx-text-fill: black;
    -fx-prompt-text-fill: gray;
}