.anchor-pane {
    -fx-background-color: WHITE;
    -fx-border-color: #a5a5a5;
    -fx-border-width: 1 1 1 1;
    -fx-border-style: solid;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-padding: 7;
}

.main-text {
    -fx-text-fill: BLACK;
    -fx-font-family: 'Open Sans Light';
    -fx-font-size: 26px;
}

.paragraph-text {
    -fx-text-fill: BLACK;
    -fx-font-family: 'Open Sans Light';
    -fx-font-size: 18px;
}

.submit-button {
    -fx-background-color: #4221cc;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: white;
    -fx-font-family: 'Open Sans Bold';
    -fx-font-size: 18px;
}

.submit-button-small {
    -fx-background-color: #4221cc;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: white;
    -fx-font-family: 'Open Sans Bold';
    -fx-font-size: 14px;
}

.default-button {
    -fx-background-color: #4221cc;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: white;
    -fx-font-family: 'Open Sans Bold';
    -fx-font-size: 18px;
}

.cancel-button {
    -fx-background-color: #eae9fb;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: #4221cc;
    -fx-font-family: 'Open Sans Bold';
    -fx-font-size: 18px;
}

.error-input-fields {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}

.mnemonic-textarea {
    -fx-control-inner-background: #ececec;
    -fx-background-insets: 0px;
    -fx-text-fill: BLACK;
    -fx-display-caret: false;
}

.transaction-table-header-text {
    -fx-text-fill: BLACK;
    -fx-font-family: 'Open Sans Light';
    -fx-font-size: 18px;
}

.transaction-row-text {
    -fx-text-fill: BLACK;
    -fx-font-family: 'Open Sans Light';
    -fx-font-size: 14px;
}

.transaction-row {
    -fx-border-color: #ececec;
    -fx-border-style: solid inside;
    -fx-border-width: 0 0 1 0;
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-text-fill: BLACK;
    -fx-display-caret: false;
}

.copyable-textfield {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-text-fill: BLACK;
    -fx-text-alignment: CENTER;
    -fx-display-caret: false;
}

.link {
    -fx-cursor: hand;
}
