.anchor-pane {
    -fx-background-color: WHITE;
    -fx-border-color: #a5a5a5;
    -fx-border-width: 1 1 1 1;
    -fx-border-style: solid;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-padding: 7;
}

.main-text {
    -fx-text-fill: BLACK;
    -fx-font-family: 'Open Sans Light';
    -fx-font-size: 26px;
}

.paragraph-text {
    -fx-text-fill: BLACK;
    -fx-font-family: 'Open Sans Light';
    -fx-font-size: 18px;
}

.submit-button {
    -fx-background-color: #4221cc;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: white;
    -fx-font-family: 'Open Sans Bold';
    -fx-font-size: 18px;
}

.submit-button-small {
    -fx-background-color: #4221cc;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: white;
    -fx-font-family: 'Open Sans Bold';
    -fx-font-size: 14px;
}

.default-button {
    -fx-background-color: #4221cc;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: white;
    -fx-font-family: 'Open Sans Bold';
    -fx-font-size: 18px;
}

.cancel-button {
    -fx-background-color: #eae9fb;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: #4221cc;
    -fx-font-family: 'Open Sans Bold';
    -fx-font-size: 18px;
}

.error-input-fields {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}

.mnemonic-textarea {
    -fx-control-inner-background: #ececec;
    -fx-background-insets: 0px;
    -fx-text-fill: BLACK;
    -fx-display-caret: false;
}

.transaction-table-header-text {
    -fx-text-fill: BLACK;
    -fx-font-family: 'Open Sans Light';
    -fx-font-size: 18px;
}

.transaction-row-text {
    -fx-text-fill: BLACK;
    -fx-font-family: 'Open Sans Light';
    -fx-font-size: 14px;
}

.transaction-row {
    -fx-border-color: #ececec;
    -fx-border-style: solid inside;
    -fx-border-width: 0 0 1 0;
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-text-fill: BLACK;
    -fx-display-caret: false;
}

.copyable-textfield {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-text-fill: BLACK;
    -fx-text-alignment: CENTER;
    -fx-display-caret: false;
}

.link {
    -fx-cursor: hand;
}

.button {
    -fx-background-color: #4221cc;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: white;
    -fx-font-family: 'Open Sans Bold';
    -fx-font-size: 18px;
}

.token-balance-label {
    -fx-cursor: hand;
    -fx-text-fill: BLACK;
    -fx-font-family: 'Open Sans Light';
    -fx-font-size: 18px;
}

.accounts-list {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/* Scrollbar */

/* Scroll bar policy below */

.custom-scrollbar .scroll-bar:horizontal ,
.custom-scrollbar  .scroll-bar:vertical{
    -fx-background-color: transparent;
}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */
.custom-scrollbar .scroll-bar:vertical:hover .track,
.custom-scrollbar .scroll-bar:vertical:pressed .track {
     -fx-background-color: derive(#434343, 20%);
	 -fx-opacity: 0.2;
	 -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.custom-scrollbar .scroll-bar .thumb:hover,
.custom-scrollbar .scroll-bar .thumb:pressed {
    -fx-background-color: derive(black, 50%);
}

.custom-scrollbar .increment-button:hover ,.custom-scrollbar .decrement-button:hover {
    -fx-background-color:derive(gray,100%);
	-fx-border-color:derive(gray, 80%);
	-fx-padding:10px;
}

/* The increment and decrement button CSS class of scrollbar */
.custom-scrollbar .increment-button ,.custom-scrollbar .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.custom-scrollbar .scroll-bar:horizontal .thumb,
.custom-scrollbar .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black, 90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

/* The main scrollbar **track** CSS class  */
.custom-scrollbar .scroll-bar:horizontal .track,
.custom-scrollbar .scroll-bar:vertical .track {
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.custom-scrollbar .scroll-bar:horizontal .increment-button ,
.custom-scrollbar .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */
.custom-scrollbar .scroll-bar:vertical .increment-button ,
.custom-scrollbar .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;
}

.custom-scrollbar .scroll-bar .increment-arrow,
.custom-scrollbar .scroll-bar .decrement-arrow {
	-fx-padding:0;
}

/* Hide horizontal scroll-bar */
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}


