/* Scroll bar policy below */

.transparent-scroll-view .scroll-bar:horizontal ,
.transparent-scroll-view  .scroll-bar:vertical{
    -fx-background-color: transparent;
}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */
.transparent-scroll-view .scroll-bar:horizontal:hover .track ,
.transparent-scroll-view .scroll-bar:horizontal:pressed .track ,
.transparent-scroll-view .scroll-bar:vertical:hover .track,
.transparent-scroll-view .scroll-bar:vertical:pressed .track {
     -fx-background-color: derive(#434343, 20%);
	 -fx-opacity: 0.2;
	 -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.transparent-scroll-view .scroll-bar .thumb:hover,
.transparent-scroll-view .scroll-bar .thumb:pressed {
    -fx-background-color: derive(black, 50%);
}

.transparent-scroll-view .increment-button:hover ,.transparent-scroll-view .decrement-button:hover {
    -fx-background-color:derive(gray,100%);
	-fx-border-color:derive(gray, 80%);
	-fx-padding:10px;
}

/* The increment and decrement button CSS class of scrollbar */
.transparent-scroll-view .increment-button ,.transparent-scroll-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.transparent-scroll-view .scroll-bar:horizontal .thumb,
.transparent-scroll-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black, 90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

/* The main scrollbar **track** CSS class  */
.transparent-scroll-view .scroll-bar:horizontal .track,
.transparent-scroll-view .scroll-bar:vertical .track {
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.transparent-scroll-view .scroll-bar:horizontal .increment-button ,
.transparent-scroll-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */
.transparent-scroll-view .scroll-bar:vertical .increment-button ,
.transparent-scroll-view .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;
}

.transparent-scroll-view .scroll-bar .increment-arrow,
.transparent-scroll-view .scroll-bar .decrement-arrow {
	-fx-padding:0;
}
