#contentPane {
    -fx-background-color: WHITE;
    -fx-border-color:#1c1c1c;
    -fx-border-width: 1 0 1 0;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
   -fx-fit-to-height: false;
   -fx-fit-to-width: true;
}

.main-text {
    -fx-text-fill: black;
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 24px;
    -fx-text-alignment: CENTER;
}

.input-fields {
    -fx-background-color: WHITE;
    -fx-border-color: #e1dccd;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: black;
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 14px;
    -fx-prompt-text-fill: gray;
}

.button {
    -fx-background-color: #1c1c1c;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: #f54119;
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 18px;
}

.button:hover {
    -fx-background-color: #f54119;
    -fx-text-fill: #1c1c1c;   

}

.button:pressed {
    -fx-background-color: #ff7800;
    -fx-text-fill: #1c1c1c;
}

.button .disabled{
    -fx-background-color: #ececec;
}

.accounts-list {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.tile-label {
    -fx-text-fill: BLACK;
    -fx-text-alignment: CENTER;
    -fx-font-family: 'Titillium Web';
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

.line{
    -fx-stroke: #1c1c1c;
}

.header-text {
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 18px;
}

.paragraph-text {
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 16px;
}

.balance-value {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-text-fill: BLACK;
    -fx-text-alignment: CENTER;
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 16px;
    -fx-display-caret: false;
    -fx-border-color: #1c1c1c;
    -fx-border-width: 0 0 1 0;
}

.address-textarea {
    -fx-control-inner-background: #ececec;
    -fx-background-insets: 0px;
    -fx-text-fill: BLACK;
    -fx-display-caret: false;
    -fx-font-family: "Titillium Web";
}

.link-style {
    -fx-text-fill: blue;
    -fx-underline: true ;
    -fx-cursor: hand;
}

.link-style-paragraph-text {
    -fx-text-fill: blue;
    -fx-underline: true ;
    -fx-cursor: hand;
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 16px;
}

.error-label {
    -fx-text-fill: RED;
}

.warning-link-style {
    -fx-text-fill: #FF9900;
    -fx-underline: true ;
    -fx-cursor: hand;
}

/* Scrollbar */

/* Scroll bar policy below */

.custom-scrollbar .scroll-bar:horizontal ,
.custom-scrollbar  .scroll-bar:vertical{
    -fx-background-color: transparent;
}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */
.custom-scrollbar .scroll-bar:vertical:hover .track,
.custom-scrollbar .scroll-bar:vertical:pressed .track {
     -fx-background-color: derive(#434343, 20%);
	 -fx-opacity: 0.2;
	 -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.custom-scrollbar .scroll-bar .thumb:hover,
.custom-scrollbar .scroll-bar .thumb:pressed {
    -fx-background-color: derive(black, 50%);
}

.custom-scrollbar .increment-button:hover ,.custom-scrollbar .decrement-button:hover {
    -fx-background-color:derive(gray,100%);
	-fx-border-color:derive(gray, 80%);
	-fx-padding:10px;
}

/* The increment and decrement button CSS class of scrollbar */
.custom-scrollbar .increment-button ,.custom-scrollbar .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.custom-scrollbar .scroll-bar:horizontal .thumb,
.custom-scrollbar .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black, 90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

/* The main scrollbar **track** CSS class  */
.custom-scrollbar .scroll-bar:horizontal .track,
.custom-scrollbar .scroll-bar:vertical .track {
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.custom-scrollbar .scroll-bar:horizontal .increment-button ,
.custom-scrollbar .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */
.custom-scrollbar .scroll-bar:vertical .increment-button ,
.custom-scrollbar .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;
}

.custom-scrollbar .scroll-bar .increment-arrow,
.custom-scrollbar .scroll-bar .decrement-arrow {
	-fx-padding:0;
}

/* Hide horizontal scroll-bar */
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}

