.anchor-pane {
    -fx-background-color: WHITE;
}

#progressBarLabel {
    -fx-text-fill: black;
}

.connected-label {
    -fx-background-color: #f54119;
    -fx-background-radius: 20 20 20 20;
    -fx-padding: 5 15 5 15;
    -fx-text-fill: #1c1c1c;
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-alignment: CENTER;
}

.connected-insecure {
    -fx-background-radius: 20 20 20 20;
    -fx-padding: 5 15 5 15;
    -fx-text-fill: #1c1c1c;
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 14px;
    -fx-text-alignment: CENTER;
    -fx-background-color: #cccc00;
}


.not-connected {
    -fx-background-radius: 20 20 20 20;
    -fx-padding: 5 15 5 15;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 14px;
    -fx-text-alignment: CENTER;
    -fx-background-color: #b32d00;
}

.footer-pane-text {
    -fx-text-fill: black;
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 14px;
}

.footer-pane-logo-text {
    -fx-text-fill: gray;
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 14px;
}

.version-style {
    -fx-text-fill: black;
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 14px;
}
