.default{
    -fx-background-color: white;
}

.pressed{
    -fx-border-color: #40bded;
    -fx-border-width: 0 0 5 0;
    -fx-text-fill: WHITE;
    -fx-text-alignment: CENTER;
    -fx-font-family: 'Open Sans Regular';
}

.header-button-label {
    -fx-text-fill: BLACK;
    -fx-text-alignment: CENTER;
    -fx-font-family: 'Open Sans Regular';
    -fx-font-size: 18px;
}

.header-account-label {
    -fx-text-fill: BLACK;
    -fx-text-alignment: CENTER;
    -fx-font-family: 'Open Sans Bold';
    -fx-font-size: 14px;
}

.header-account-info {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-text-fill: BLACK;
    -fx-text-alignment: CENTER;
    -fx-font-family: 'Open Sans Light';
    -fx-font-size: 14px;
    -fx-display-caret: false;
}

#logo:hover {
    -fx-cursor: hand;
}

.header-button-label:hover {
    -fx-cursor: hand;
}
