@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata-Regular.ttf');
}

@font-face {
    src: url('fonts/TitilliumWeb-Black.ttf');
}

@font-face {
    src: url('fonts/TitilliumWeb-Bold.ttf');
}

@font-face {
    src: url('fonts/TitilliumWeb-BoldItalic.ttf');
}

@font-face {
    src: url('fonts/TitilliumWeb-ExtraLight.ttf');
}

@font-face {
    src: url('fonts/TitilliumWeb-ExtraLightItalic.ttf');
}

@font-face {
    src: url('fonts/TitilliumWeb-Italic.ttf');
}

@font-face {
    src: url('fonts/TitilliumWeb-Light.ttf');
}

@font-face {
    src: url('fonts/TitilliumWeb-LightItalic.ttf');
}

@font-face {
    src: url('fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
    src: url('fonts/TitilliumWeb-SemiBold.ttf');
}

@font-face {
    src: url('fonts/TitilliumWeb-SemiBoldItalic.ttf');
}

.main-stage {
    -fx-background-color: WHITE;
}

.label {
    -fx-text-fill: BLACK;
    -fx-text-alignment: CENTER;
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-text-fill: BLACK;
    -fx-display-caret: false;
}

.button {
    -fx-background-color: #1c1c1c;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: #f54119;
    -fx-font-family: 'Titillium Web';
    -fx-font-size: 18px;
}

.button:hover {
    -fx-background-color: #f54119;
    -fx-text-fill: #1c1c1c;
}

.button:pressed {
    -fx-background-color: #ff7800;
    -fx-text-fill: #1c1c1c;
}

.button .disabled{
    -fx-background-color: #e1dccd;
}
